/****************************************************************************


SFX1US.rc

produced by Borland Resource Workshop


*****************************************************************************/


DLGNEW DIALOG 157, 71, 163, 83
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Create subdirectory"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "Current directory :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 5, 74, 9
 CONTROL "Text", 3001, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 3, 16, 156, 15
 CONTROL "New subdirectory :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 7, 37, 114, 9
 CONTROL "", 3002, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 3, 48, 156, 15
 CONTROL "OK", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 51, 67, 50, 14
 CONTROL "Cancel", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 106, 67, 50, 14
}


FILEEXIST DIALOG 13, 19, 194, 56
EXSTYLE WS_EX_DLGMODALFRAME
STYLE DS_MODALFRAME | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU
CAPTION "Confirm overwrite of..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "&Yes", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 43, 39, 50, 14
 CONTROL "&No", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 101, 39, 50, 14
 CONTROL "", 101, "EDIT", ES_CENTER | ES_MULTILINE | ES_READONLY | WS_CHILD | WS_VISIBLE, 10, 4, 177, 14
 CONTROL "Don't &ask again", 401, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 62, 22, 69, 12
}


MAINDIALOG DIALOG 97, 18, 264, 132
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION | WS_SYSMENU | WS_MINIMIZEBOX
CAPTION "DELZIPSFX32"
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "", 102, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_GROUP, 0, 0, 264, 108
 CONTROL "MNICON", -1, "STATIC", SS_ICON | WS_CHILD | WS_VISIBLE, 10, 9, 18, 20
 CONTROL "&Extract to :", 100, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE, 38, 9, 37, 8
 CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 76, 7, 158, 12
 CONTROL "...", 775, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 236, 7, 15, 12
 CONTROL "&Files :", -1, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 38, 41, 23, 11
 CONTROL "", 301, "LISTBOX", LBS_STANDARD | LBS_MULTIPLESEL | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 22, 176, 54
 CONTROL "Existing files :", 509, "STATIC", SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 10, 78, 53, 9
 CONTROL "", 302, "LISTBOX", LBS_STANDARD | LBS_HASSTRINGS | LBS_USETABSTOPS | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 76, 22, 176, 54
 CONTROL "&Confirm overwrite", 503, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE | WS_GROUP | WS_TABSTOP, 74, 78, 68, 9
 CONTROL "&Don't overwrite", 502, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 142, 78, 65, 9
 CONTROL "&Overwrite", 501, "BUTTON", BS_AUTORADIOBUTTON | WS_CHILD | WS_VISIBLE, 208, 78, 47, 9
 CONTROL "run", 1007, "BUTTON", BS_AUTOCHECKBOX | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 92, 248, 12
 CONTROL "About DelZip SFX...", 103, "BUTTON", BS_USERBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 10, 112, 73, 16
 CONTROL "&Start", 1, "BUTTON", BS_DEFPUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 131, 112, 47, 16
 CONTROL "C&lose", 2, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 208, 112, 47, 16
}


PASSWD DIALOG 6, 15, 157, 41
STYLE DS_MODALFRAME | DS_3DLOOK | DS_CENTER | WS_POPUP | WS_VISIBLE | WS_CAPTION
CAPTION "Enter password..."
FONT 8, "MS Sans Serif"
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
{
 CONTROL "", 101, "EDIT", ES_LEFT | ES_AUTOVSCROLL | ES_AUTOHSCROLL | ES_PASSWORD | WS_CHILD | WS_VISIBLE | WS_BORDER | WS_TABSTOP, 5, 2, 146, 12
 CONTROL "&Ok", 1, "BUTTON", BS_PUSHBUTTON | WS_CHILD | WS_VISIBLE | WS_TABSTOP, 52, 22, 54, 11
}


MNICON ICON 
{
 '00 00 01 00 01 00 20 20 10 00 00 00 00 00 E8 02'
 '00 00 16 00 00 00 28 00 00 00 20 00 00 00 40 00'
 '00 00 01 00 04 00 00 00 00 00 00 02 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 80 00 00 80 00 00 00 80 80 00 80 00'
 '00 00 80 00 80 00 80 80 00 00 C0 C0 C0 00 80 80'
 '80 00 00 00 FF 00 00 FF 00 00 00 FF FF 00 FF 00'
 '00 00 FF 00 FF 00 FF FF 00 00 FF FF FF 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 00 EE EE EE 00 00 0E EE EE 00 00'
 '00 00 00 00 00 0E 00 00 00 80 00 80 00 00 00 00'
 '00 00 00 00 00 0E 00 00 00 00 00 00 00 00 00 00'
 '00 00 00 00 00 0E 00 00 00 80 00 80 00 00 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 00 00 00'
 'EE EE EE EE EE EE EE EE EE E0 00 EE E0 00 00 0E'
 '00 00 00 00 00 00 00 00 00 00 00 00 EE E0 00 E0'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 0E 0E 00'
 '0E EE EE EE EE EE EE E0 00 00 00 00 00 0E E0 00'
 'EE EE EE EE EE EE EE EE EE E0 00 EE EE E0 E0 0E'
 'EE EE EE EE EE EE EE E0 00 00 00 00 00 0E E0 0E'
 'EE EE EE EE EE EE EE E0 00 00 00 00 00 0E E0 0E'
 'EE 99 99 99 99 99 EE E0 EE E8 88 EE EE 0E E0 0E'
 'EE 99 99 99 99 99 EE EE EE E3 33 00 00 00 E0 0E'
 'EE 99 99 99 99 99 EE E0 00 00 00 00 00 00 E0 0E'
 'EE E9 99 EE EE EE EE EE EE E8 88 00 00 00 E0 0E'
 'EE EE 99 9E EE EE EE EE EE E3 33 00 00 00 E0 0E'
 'EE EE E9 99 EE EE EE E0 00 00 00 00 00 00 E0 0E'
 'EE EE EE 99 9E EE EE EE EE E8 88 00 00 00 E0 0E'
 'EE EE EE E9 99 EE EE EE EE E3 33 00 00 00 E0 0E'
 'EE EE EE EE 99 9E EE E0 00 00 00 00 00 00 E0 0E'
 'EE EE EE EE E9 99 EE EE EE E8 88 00 00 00 E0 0E'
 'EE E9 99 99 99 99 9E EE EE E8 88 00 00 00 E0 0E'
 'EE E9 99 99 99 99 9E E0 EE E8 88 EE EE 0E E0 0E'
 'EE E9 99 99 99 99 9E E0 00 00 00 00 00 0E E0 00'
 'EE EE EE EE EE EE EE E0 00 00 00 00 00 0E 0E 00'
 '0E EE EE EE EE EE EE EE EE E0 00 EE EE E0 00 E0'
 '00 EE EE EE EE EE EE E0 00 00 00 00 00 0E 00 0E'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 0E 00 00'
 'E0 00 00 00 00 00 00 00 00 00 00 00 EE E0 FF FF'
 'FF FF FF FF FF 7F FF FF 00 00 FF FE 00 00 FF FE'
 '00 00 FF FE 00 00 FF FF FE 3F F0 00 00 07 E0 00'
 '00 01 C0 00 00 00 80 00 00 00 00 00 00 01 00 00'
 '00 00 00 00 00 00 00 00 00 00 00 00 00 3F 00 00'
 '00 01 00 00 00 3F 00 00 00 3F 00 00 00 01 00 00'
 '00 3F 00 00 00 3F 00 00 00 01 00 00 00 3F 00 00'
 '00 3F 00 00 00 00 00 00 00 00 00 00 00 00 80 00'
 '00 01 C0 00 00 00 E0 00 00 00 F0 00 00 01'
}

