#include "ZipMsg.h"

STRINGTABLE {
	GE_FatalZip, 		 "Fatális hiba a ZipDLL.DLL fájlban: a program futása befejezõdött"
	GE_NoZipSpecified, "Hiba - nincsenek fájlok megadva az archiváláshoz"
	GE_NoMem,			 "Nincs elég memória"
	GE_WrongPassword,	 "Hiba - hibás jelszó\a beírt jelszavak nem egyeznek meg"
	GE_CopyFile,		 "Másolás: "

RN_ZipSFXData,           "Hiba az SFX header másolása közben"
RN_NoRenOnSpan,          "Az átnevezés nem érvébnyes"
RN_ProcessFile,          "Feldolgozás: "
RN_RenameTo,				 " átnevezés : "

	PW_UnatAddPWMiss,	 "Hiba - a becsomagoláshoz nem adtál meg jelszót"
	PW_UnatExtPWMiss,	 "Hiba - a kicsomagoláshoz nem adtál meg jelszót"
PW_Ok,				 "&Ok"
PW_Cancel			 "&Mégsem"
PW_Caption		 	 "Jelszó"
PW_MessageEnter	 "Add meg a jelszót "
PW_MessageConfirm	 "Jelszó megerõsítése"

CF_SourceIsDest	 "A forrásfájl ugyanaz mint a célfájl!";
CF_OverwriteYN		 "Felülírjam '%s' fájlt '%s' -ra ?"
CF_CopyFailed		 "A '%s' fájl másolása '%s' nem sikerült"
CF_SourceNotFound	 "A '%s' fájl nem létezik '%s' -ban!"
CF_SFXCopyError	 "Hiba az SFX adatok másolása közben"
CF_DestFileNoOpen, "A cél zip fájlt nem tudom megynyitni!"

	LI_ReadZipError,	 "Keresési hiba a Zip archív olvasása közben!"
LI_ErrorUnknown,	 "Ismeretlen hiba in List() function\n"
	LI_WrongZipStruct, "Figyelem - Hiba a zip struktúrában!"
	LI_GarbageAtEOF,	 "Figyelem - szemét van a zipfájl végén!"

	AD_NothingToZip,	 "Hiba - nincs mit tömöríteni!"
	AD_UnattPassword,	 "Nem ellenõrzött akció nem lehetséges jelszó nélkül"
	AD_NoFreshenUpdate,"Frissítés nem lehetséges egy szétdarabolt archívon"
AD_AutoSFXWrong,	 "Hiba %.1d keletkezett az Auto SFX készítése közben."

	DL_NothingToDel,	 "Hiba - nincs fájl kijelölve a törléshez"

	EX_FatalUnZip,		 "Fatális Hiba az UnzDLL.DLL fájlban: a program futása befejezõdött"
	EX_UnAttPassword,	 "Figyelem - Nem ellenõrzött kicsomagolás: lehetséges, hogy az összesfáj kicsomagolása nem sikerül"
EX_NoStreamDLL,	"Hiba - az UnzDLL.dll fájl nem tud folyamot kezelni, frissítsd a fájlt az 1.60+ verzióra"

	LZ_ZipDllLoaded,	 "ZIP DLL betöltve!"
	LZ_NoZipDllExec,	 "ZipDllExec funkció nem található a ZIPDLL.DLL fájlban!"
	LZ_NoZipDllVers,	 "GetZipDllVersion funkció nem található a ZIPDLL.DLL fájlban!"
	LZ_NoZipDll,		 "ZIPDLL.DLL fájl nem található!"

	LU_UnzDllLoaded,	 "UNZDLL betöltve!"
	LU_NoUnzDllExec,	 "UnzDllExec funkció nem található az UNZDLL.DLL fájlban!"
	LU_NoUnzDllVers,	 "GetUnzDllVersion funkció nem található az UNZDLL.DLL fájlban!"
	LU_NoUnzDll,		 "UNZDLL.DLL fájl nem található!"

SF_StringToLong,	 "Hiba - A 4 közül egy vagy több tulajdonság meghaladta a 255 karaktert!"
	SF_NoZipSFXBin,	 "Hiba - ZIPSFX.BIN nem található!"
	SF_InputIsNoZip,	 "Hiba: az input fájl nem zip fájl"

	CZ_NoExeSpecified, "Hiba - nincs .EXE fájl kijelölve"
	CZ_InputNotExe,	 "Hiba: az input fájl nem valódi .EXE fájl"
	CZ_SFXTypeUnknown, "Hiba az SFX archív típusának meghatározása során"

	DS_NoInFile,		 "Input fájl nem létezik"
	DS_FileOpen,		 "A zip fájlt nem tudom megnyitni"
	DS_NotaDrive,		 "Nem létezõ meghajtó: %s"
 DS_DriveNoMount,	 "%s meghajtó nincs definiálva"
	DS_NoVolume,		 "Kötetcímke nem állítható be"
	DS_NoMem,			 "Nincs elég memória a MsgBox megjelenítéséhez"
	DS_Canceled,		 "A felhasználó megszakította a mûködést"
	DS_FailedSeek,		 "Keresési hiba az input fájlban"
	DS_NoOutFile,		 "Az output fájl létrehozása megszakadt"
	DS_NoWrite,			 "Írási hiba az output fájlban"
	DS_EOCBadRead,		 "Hiba az Central Directory olvasása közben"
	DS_LOHBadRead,		 "Hiba a local header olvasása közben"
	DS_CEHBadRead,		 "Hiba a central header olvasása közben"
	DS_LOHWrongSig,	 "A local header aláírás hibás"
	DS_CEHWrongSig,	 "A central header aláírás hibás"
	DS_LONameLen,		 "Hiba a local fájl név olvasása közben"
	DS_CENameLen,		 "Hiba a central fájl név olvasása közben"
	DS_LOExtraLen,		 "Hiba a local extra field olvasása közben"
	DS_CEExtraLen,		 "Hiba a central extra field olvasása közben"
	DS_DataDesc,		 "Hiba az adat leíró terület olvasása/írása közben"
	DS_ZipData,			 "Hiba a tömörített adatok olvasása közben"
	DS_CECommentLen,	 "Hiba a fájl comment olvasása közben"
	DS_EOArchComLen,	 "Hiba az archive comment olvasása közben"
DS_ErrorUnknown,	 "Ismeretlen Hiba a ReadSpan(), WriteSpan(), Rename() or CopyZippedFiles()\n funkcióban"
	DS_NoUnattSpan,	 "Nem ellenõrzött lemez szétdarabolása nem érvényes"
	DS_EntryLost,		 "A local header -t nem találtama belsõ struktúrában"
	DS_NoTempFile,		 "Temporary fájlt nem lehet létrehozni"
	DS_LOHBadWrite,	 "Hiba a local header írása közben"
	DS_CEHBadWrite,	 "Hiba a central header írása közben"
	DS_EOCBadWrite,	 "Hiba az ECD írása közben"
	DS_ExtWrongSig,	 "Hiba az Extended Local signature olvasása közben"
	DS_NoDiskSpace,	 "Nincs elég hely a lemezen"
	DS_InsertDisk,		 "Tedd be az utolsó lemezt"
	DS_InsertVolume,	 "Tedd be a(z) %.1d lemezt az %.1d -bõl"
	DS_InDrive,			 "\nin meghajtó: %s"
	DS_NoValidZip,		 "Ez az archív nem valódi Zip archív fájl"
	DS_FirstInSet,		 "Ez az elsõ lemez a backup beállításban set,\nplease válaszd az utolsó lemezt"
	DS_NotLastInSet,	 "Ez a(z) %dth lemez a backup beállításban set,\nplease válaszd az utolsó lemezt"
	DS_AskDeleteFile,	 "Már létezik a fálj %s\n Felülírjam ezt a fájlt"
	DS_AskPrevFile,	 "FIGYELEM: EZ az elõzõ lemez %d!!!\nBiztosan felülírod a tartalmát"
	DS_NoSFXSpan,		 "Hiba - Önkicsomagoló archív (.exe) fájlokat nem lehet szétdarabolni"
	DS_CEHBadCopy,		 "Hiba a fájlnév CEH struktúrában való másolása közben"
	DS_EOCBadSeek,		 "Keresési hiba az EOC struktúra átugrása közben"
	DS_EOCBadCopy,		 "Hiba az archív comment másolása közben"
	DS_FirstFileOnHD,	 "Ez az elsõ fájl a backup beállításban set,\nplease válaszd az utolsó fájt"
DS_InsertAVolume,        "Tedd be a(z) %.1d sorszámú lemezt"
DS_CopyCentral,          "Central könyvtár"
}
