#include "ZipMsg.h"

STRINGTABLE {
	GE_FatalZip, 		 "Fatale fout in ZipDLL.DLL: Actie afgebroken"
	GE_NoZipSpecified, "Fout - geen zip file opgegeven!"
	GE_NoMem,			 "Gevraagde hoeveelheid geheugen niet beschikbaar"
	GE_WrongPassword,	 "Fout - Wachtwoorden verschillend\nWachtwoord wordt niet gebruikt"
	GE_CopyFile,		 "Kopieren van: "

RN_ZipSFXData,           "Fout tijdens het kopieren van de SFX code"
RN_NoRenOnSpan,          "Rename is niet geimplementeerd voor een multi disk Zip archief "
RN_ProcessFile,          "Verwerken van: "
RN_RenameTo,				 " hernoemd naar: "

   PW_UnatAddPWMiss,	 "Fout - geen Add wachtwoord gegeven"
	PW_UnatExtPWMiss,	 "Fout - geen Extract wachtwoord gegeven"
PW_Ok,				 "&Ok"
PW_Cancel,			 "&Annuleren"
PW_Caption,		 	 "Wachtwoord"
PW_MessageEnter,	 "Geef wachtwoord "
PW_MessageConfirm, "Bevestig wachtwoord "
PW_CancelAll,		 "Annuleer alles"
PW_Abort,  			 "Afbreken"
PW_ForFile,			 " voor bestand: "

CF_SourceIsDest,	 "Bron archief is hetzelfde als het doel archief!"
CF_OverwriteYN,	 "Overschrijf bestand '%s' in '%s' ?"
CF_CopyFailed,		 "Kopieren van een bestand uit '%s' naar '%s' is mislukt"
CF_SourceNotFound, "Bestand '%s' is niet aanwezig in '%s'!"
CF_SFXCopyError,	 "Fout tijdens het kopieren van de SFX gegevens"
CF_DestFileNoOpen, "Doel zip archief kon niet worden geopend!"

	LI_ReadZipError,	 "Zoekfout bij het lezen van het Zip archief!"
LI_ErrorUnknown,	 "Onbekende fout in de List() funktie!\n"
	LI_WrongZipStruct, "Waarschuwing - Fout in Zip struktuur!"
	LI_GarbageAtEOF,	 "Waarschuwing - Rommel aan het einde van de zipfile!"

	AD_NothingToZip,	 "Fout - geen bron bestand(en) aanwezig!"
	AD_UnattPassword,  "Onbeheerde aktie niet mogelijk zonder een wachtwoord op te geven"
	AD_NoFreshenUpdate,"AddFreshen of AddUpdate niet mogelijk met een archief op meerdere disks"
AD_AutoSFXWrong,	 "Fout %.1d opgetreden tijdens het automatisch maken van een SFX bestand"
AD_NoStreamDLL,	 "Fout - uw ZipDLL.dll kan geen streams aan, s.v.p. update naar versie >= 1.60"
AD_InIsOutStream,	 "Input stream mag niet hetzelfde zijn als de output stream"
AD_InvalidName,	 "Wildcard tekens niet toegestaan in Filename or file specifikatie"

	DL_NothingToDel,	 "Fout - geen bestand(en) gekozen om te verwijderen"

	EX_FatalUnZip,		 "Fatale fout in UnzDLL.DLL: Actie afgebroken"
	EX_UnAttPassword,	 "Waarschuwing - Onbeheerde Extract: mogelijk niet alle bestanden uitgepakt."
EX_NoStreamDLL,	"Fout - uw UnzDLL.dll kan geen streams aan, s.v.p. update naar versie >= 1.60"

	LZ_ZipDllLoaded,	 "ZIP DLL Geladen"
	LZ_NoZipDllExec,	 "ZipDllExec functie niet gevonden in ZIPDLL.DLL!"
	LZ_NoZipDllVers,	 "GetZipDllVersion functie niet gevonden in ZIPDLL.DLL!"
	LZ_NoZipDll,		 "ZIPDLL.DLL niet gevonden!"

	LU_UnzDllLoaded,	 "UNZDLL Geladen!"
	LU_NoUnzDllExec,	 "UnzDllExec functie niet gevonden in UNZDLL.DLL!"
	LU_NoUnzDllVers,	 "GetUnzDllVersion functie niet gevonden in UNZDLL.DLL!"
	LU_NoUnzDll,		 "UNZDLL.DLL niet gevonden!"

SF_StringToLong,	 "Fout - Een of meerdere van de navolgende 4 property teksten bevat meer dan 255 tekens!"
	SF_NoZipSFXBin,	 "Fout - ZipSFX.bin niet gevonden!"
	SF_InputIsNoZip,	 "Fout: Gekozen bestand is geen .Zip bestand"

	CZ_NoExeSpecified, "Fout - geen .EXE bestand opgegeven"
	CZ_InputNotExe,	 "Fout: Gekozen bestand is geen .EXE bestand"
	CZ_SFXTypeUnknown, "Fout bij het vaststellen van het type .SFX archief bestand"

	DS_NoInFile,		 "Gekozen bron bestand bestaat niet"
	DS_FileOpen,		 "Zip bestand kan niet worden geopend"
DS_NotaDrive,		 "Drive %s is niet bekend"
DS_DriveNoMount,	 "Drive %s is niet beschikbaar"
	DS_NoVolume,		 "Volume label kon niet worden aangepast"
	DS_NoMem,			 "Niet genoeg geheugen om MsgBox te tonen"
	DS_Canceled,		 "Gebruiker annuleerde aktie"
	DS_FailedSeek,		 "Zoekfout in het bron bestand"
	DS_NoOutFile,		 "Maken van het doel bestand mislukt"
	DS_NoWrite,			 "Schrijffout in het doel bestand"
	DS_EOCBadRead,		 "Fout tijdens het lezen van de EOC struktuur"
	DS_LOHBadRead,		 "Fout tijdens het lezen van een locale struktuur"
	DS_CEHBadRead,		 "Fout tijdens het lezen een centrale struktuur"
	DS_LOHWrongSig,	 "Een locale herkenning is fout"
	DS_CEHWrongSig,	 "Een centrale herkening is fout"
	DS_LONameLen,		 "Fout tijdens het lezen van een locale bestandsnaam"
	DS_CENameLen,		 "Fout tijdens het lezen van een centrale bestandsnaam"
	DS_LOExtraLen,		 "Fout tijdens het lezen van een locaal extra veld"
	DS_CEExtraLen,		 "Fout tijdens het lezen van een centraal extra veld"
	DS_DataDesc,		 "Fout tijdens het lezen/schrijven van een gegevens beschrijvings gebied"
	DS_ZipData,			 "Fout tijdens het lezen gekomprimeerde zip gegevens"
	DS_CECommentLen,	 "Fout tijdens het lezen van een bestands kommentaar"
	DS_EOArchComLen,	 "Fout tijdens het lezen van het zip archief kommentaar"
DS_ErrorUnknown,	 "Onbekende fout in de funktie ReadSpan(), WriteSpan(), Rename() or CopyZippedFiles()\n"
	DS_NoUnattSpan,	 "Onbeheerd kopieren naar meerdere disks is niet geïmplementeerd"
	DS_EntryLost,		 "Een locale struktuur niet gevonden in de interne tabel"
	DS_NoTempFile,		 "Tijdelijke bestand kon niet worden gemaakt"
	DS_LOHBadWrite,	 "Fout tijdens het schrijven van een locaal record"
	DS_CEHBadWrite,	 "Fout tijdens het schrijven van een centraal record"
	DS_EOCBadWrite,	 "Fout tijdens het schrijven van de EOC struktuur"
	DS_ExtWrongSig,	 "Fout tijdens het lezen van een uitgebreide locale herkenning"
	DS_NoDiskSpace,	 "Deze disk heeft niet genoeg vrije ruimte beschikbaar"
	DS_InsertDisk,		 "Plaats s.v.p. de laaste disk"
	DS_InsertVolume,	 "Plaats s.v.p. disk volume %.1d van %.1d"
	DS_InDrive,			 "\nin drive: %s"
	DS_NoValidZip,		 "Dit bestand is geen (goed) Zip archief bestand"
	DS_FirstInSet,		 "Dit is de eerste disk in een backup set,\nplaats s.v.p. de laatste disk van deze set"
	DS_NotLastInSet,	 "Dit is de %de disk in een backup set,\nplaats s.v.p. de laatste disk van deze set"
	DS_AskDeleteFile,	 "Er is al een bestand %s\n Wilt u dit bestand overschrijven."
	DS_AskPrevFile,	 "ATTENTIE: Dit is vorige disk nr. %d!!!\nWeet u het zeker dat u de inhoud wilt overschrijven."
	DS_NoSFXSpan,		 "Fout - .exe archief(SFX) kopieren naar meerdere disks is niet niet mogelijk"
	DS_CEHBadCopy,		 "Fout tijdens het kopieren van een bestandsnaam van een CEH struktuur"
	DS_EOCBadSeek,		 "Zoekfout tijdens overslaan van een EOC struktuur"
	DS_EOCBadCopy,		 "Fout tijdens kopieren van het zip archief commentaar"
	DS_FirstFileOnHD,	 "Dit is het eerste bestand van een backup set,\nkies s.v.p. het laatste bestand van deze set"
DS_InsertAVolume,        "S.v.p. plaats disk volume %.1d"
DS_CopyCentral,          "Centrale struktuur"
}

