#include "ZipMsg.h"

// CATALAN - Translated by Jordi March (march_ribot@teleline.es) 12/14/2000

STRINGTABLE {
        GE_FatalZip,       "Error Fatal en ZipDLL.DLL: excepció avortar"
        GE_NoZipSpecified, "Error - arxiu zip no especificat!"
        GE_NoMem,          "Memòria sol·licitada no disponible"
        GE_WrongPassword,  "Error - les claus d'accés no concorden\nClau d'accés ignorada"
        GE_CopyFile,       "Copiant: "

        RN_ZipSFXData,     "Error mentre es copiava l'encapçalament SFX"
	RN_NoRenOnSpan,    "El canvi de nom no es suportat per un arxiu zip repartit"
	RN_ProcessFile,    "Processant: "
	RN_RenameTo,	   " renomenat a: "

        PW_UnatAddPWMiss   "Error - no s'ha donat la contrasenya per a afegir"
        PW_UnatExtPWMiss   "Error - no s'ha donat la contrasenya per a extraure"
        PW_Ok,		   "&D'acord"
        PW_Cancel,	   "&Cancel·lar"
        PW_Caption,	   "Contrasenya"
        PW_MessageEnter,   "Entra la contrasenya "
        PW_MessageConfirm, "Confirma la contrasenya "
        PW_CancelAll,	   "Cancel·lar tot"
        PW_Abort,	   "Avortar"
        PW_ForFile,	   " per l'arxiu: "

        CF_SourceIsDest,   "L'arxiu font és el mateix que el de destí!"
        CF_OverwriteYN,	   "Reescriure l'arxiu '%s' amb '%s' ?"
        CF_CopyFailed,	   "Ha fallat al copiar un arxiu de '%s' a '%s'"
        CF_SourceNotFound, "No hi ha l'arxiu '%s' a '%s'!"
        CF_SFXCopyError,   "Error mentre es copiava les dades del SFX"
        CF_DestFileNoOpen, "L'arxiu zip de destí no ha pogut ser obert!"

        LI_ReadZipError,   "Error de recerca llegint l'arxiu zip!"
        LI_ErrorUnknown,   "Error desconegut en la funció de List()\n"
        LI_WrongZipStruct, "Precaució - Error en l'estructura del zip!"
        LI_GarbageAtEOF,   "Precaució - Brossa al final de l'arxiu zip!"

        AD_NothingToZip,   "Error - no hi ha arxius en el zip!"
        AD_UnattPassword,  "Acció sense atendre, no és possible sense contrasenya"
        AD_NoFreshenUpdate,"L'Afegir/Refrescar o l'Afegir/Actualitzar no és possible en un arxiu repartit"
        AD_AutoSFXWrong,   "Error %.1d succeït durant la creació d'un SFX autoextraïble"
	AD_NoStreamDLL,	   "Error - el teu ZipDLL.dll no pot usar streams, per favor actualitza'l a una versió >= 1.60"
        AD_InIsOutStream,  "L'stream d'entrada no pot ser assignat a l'stream de sortida"
        AD_InvalidName,	   "Els comodins (*) no són permesos en el nom o en l'especificació d'un arxiu"

        DL_NothingToDel,   "Error - no es van seleccionar arxius per a esborrar"

        EX_FatalUnZip,     "Error Fatal en UnzDLL.DLL: excepció d'avortament"
        EX_UnAttPassword,  "Precaució - Extracció sense atenció: possiblement no tots els arxius s'hagin extret"
        EX_NoStreamDLL,	   "Error - el teu UnzDLL.dll no pot usar streams, per favor actualitza'l a una versió >= 1.60"

        LZ_ZipDllLoaded,   "ZIP DLL carregat"
        LZ_NoZipDllExec,   "Funció ZipDllExec no trobada en ZIPDLL.DLL!"
        LZ_NoZipDllVers,   "Funció GetZipDllVersion no trobada en ZIPDLL.DLL!"
        LZ_NoZipDll,       "ZIPDLL.DLL no trobat!"

        LU_UnzDllLoaded,   "UNZDLL carregat!"
        LU_NoUnzDllExec,   "Funció UnzDllExec no trobada en UNZDLL.DLL!"
        LU_NoUnzDllVers,   "Funció GetUnzDllVersion no trobada en UNZDLL.DLL!"
        LU_NoUnzDll,       "UNZDLL.DLL no trobat!"

        SF_StringToLong,   "Error - Una o més de la mida de les 4 propietats anomenades a continuació sobrepassen 245 caràcters!"
        SF_NoZipSFXBin,    "Error - ZIPSFX.BIN no trobat!"
        SF_InputIsNoZip,   "Error: l'arxiu d'entrada no és un arxiu zip"

        CZ_NoExeSpecified, "Error - no s'ha especificat l'arxiu .EXE"
        CZ_InputNotExe,    "Error: l'arxiu d'entrada no és un arxiu .EXE"
        CZ_SFXTypeUnknown, "Error determinant el tipus d'arxiu SFX (autoextraïble)"

        DS_NoInFile,       "L'arxiu d'entrada no existeix"
        DS_FileOpen,       "L'arxiu zip no pot ser obert"
        DS_NotaDrive,      "No és una unitat vàlida: %s"
        DS_DriveNoMount,   "La unitat %s NO està definida"
        DS_NoVolume,       "No es pot escriure l'etiqueta de volum"
        DS_NoMem,          "No hi ha suficient memòria per a mostrar MsgBox"
        DS_Canceled,       "Operació cancel·lada per l'Usuari"
        DS_FailedSeek,     "Error de recerca a l'arxiu d'entrada"
        DS_NoOutFile,      "Va fallar la creació de l'arxiu de sortida"
        DS_NoWrite,        "Error d'escriptura en l'arxiu de sortida"
        DS_EOCBadRead,     "Error llegint el Final del Directori Central"
        DS_LOHBadRead,     "Error llegint la Capçalera local"
        DS_CEHBadRead,     "Error llegint la Capçalera central"
        DS_LOHWrongSig,    "Una signatura de la Capçalera local és errònia"
        DS_CEHWrongSig,    "Una signatura de la Capçalera central és errònia"
        DS_LONameLen,      "Error llegint el nom d'arxiu local"
        DS_CENameLen,      "Error llegint el nom d'arxiu central"
        DS_LOExtraLen,     "Error llegint el camp local extra"
        DS_CEExtraLen,     "Error llegint el camp central extra"
        DS_DataDesc,       "Error llegint/escrivint àrea de descriptor de dades"
        DS_ZipData,        "Error llegint dades comprimides"
        DS_CECommentLen,   "Error llegint un comentari de fitxer"
        DS_EOArchComLen,   "Error llegint el comentari d'arxiu"
        DS_ErrorUnknown,   "Error desconegut en la funció ReadSpan(), WriteSpan(), Rename() o CopyZippedFiles()\n"
        DS_NoUnattSpan,    "Partició en diversos discos sense atenció, no disponible"
        DS_EntryLost,      "No es va trobar la Capçalera local en l'estructura interna"
        DS_NoTempFile,     "No va poder ser creat l'arxiu temporal"
        DS_LOHBadWrite,    "Error escrivint la Capçalera local"
        DS_CEHBadWrite,    "Error escrivint la Capçalera central"
        DS_EOCBadWrite,    "Error escrivint la Fi del Directori Central"
        DS_ExtWrongSig,    "Error llegint la Signatura local estesa"
        DS_NoDiskSpace,    "Aquest disc no té suficient espai lliure disponible"
        DS_InsertDisk,     "Per favor insereix l'últim disc"
        DS_InsertVolume,   "Per favor insereix el disc %.1d de %.1d"
        DS_InDrive,        "\nen unitat: %s"
        DS_NoValidZip,     "Aquest no és un arxiu zip vàlid"
        DS_FirstInSet,     "Aquest és el primer d'un joc de discos,\nper favor insereix l'últim disc d'aquest joc"
        DS_NotLastInSet,   "Aquest és el disc %d d'un joc de discos,\nper favor insereix l'últim disc d'aquest joc"
        DS_AskDeleteFile,  "Ja existeix un arxiu %s\nDesitja reescriure aquest arxiu?"
        DS_AskPrevFile,    "ATENCIÓ: Aquest és el disc previ núm.. %d!!!\nEstà segur que desitja reescriure el seu contingut?"
        DS_NoSFXSpan,      "Error - Els arxius autodescomprimibles (.exe) no poden ser particionats"
        DS_CEHBadCopy,     "Error copiant el nom d'arxiu d'una estructura de la Capçalera central"
        DS_EOCBadSeek,     "Error de recerca en una estructura de la Capçalera central"
        DS_EOCBadCopy,     "Error copiant el comentari de l'arxiu zip"
        DS_FirstFileOnHD,  "Aquest és el primer arxiu en un joc de discos,\nPer favor escull l'últim d'aquest joc"
        DS_InsertAVolume,  "Per favor insereix el volum de disc %.1d"
	DS_CopyCentral,    "Directori central"
}
