#define disk1	1
#define disk2	2
#define disk3	3
#define disk4	4
#define disk5	5
#define disk6	6
#define disk7	7
#define disk1h	8
#define disk2h	9
#define disk3h	10
#define disk4h	11
#define disk5h	12
#define disk6h	13
#define disk7h	14
#define post	15
#define posttop	16

disk1 BITMAP "disk1.bmp"
disk2 BITMAP "disk2.bmp"
disk3 BITMAP "disk3.bmp"
disk4 BITMAP "disk4.bmp"
disk5 BITMAP "disk5.bmp"
disk6 BITMAP "disk6.bmp"
disk7 BITMAP "disk7.bmp"
disk1h BITMAP "disk1h.bmp"
disk2h BITMAP "disk2h.bmp"
disk3h BITMAP "disk3h.bmp"
disk4h BITMAP "disk4h.bmp"
disk5h BITMAP "disk5h.bmp"
disk6h BITMAP "disk6h.bmp"
disk7h BITMAP "disk7h.bmp"
post BITMAP "post.bmp"
posttop BITMAP "posttop.bmp"